.news__block {
  padding: 10px;
  border: 1px solid rgb(152, 143, 143);
  border-radius: 10px;
  margin-bottom: 20px;

  &_caption {
    margin: 0;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
  }
  
  &_descr {
    margin: 0;
    margin-bottom: 20px;
  }
}


